<!--
ABOUT
- My name is Richard Fickling (richard@fickling.us); I'm usually a backend web developer,
- but have decided to try my hand at a bit of basic frontend js. This is what resulted.
TODO
- suggest page names while typing
-->
<html>
    <head>
        <title>When The Wiki</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='whenthewiki.js')}}"></script>
        {% if created_date %}
        <script>$(function() {$('#result').html(result_string({{created_date}}, "{{article}}"));});</script>
        {% endif %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-45956917-1', 'whenthewiki.com');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div id="maindiv">
            <form id="wiki_name_form">
                <input {% if article %} value="{{article}}" {% endif %} id="wiki_name_input" type=text name=page_name placeholder="type something...">
            </form>
            <div id="result">
            </div>
        </div>
    </body>
</html>
